.controls {
    display: flex;
    align-items: center;
}

.start {
    padding: 0;
    display: flex;
    align-items: center;
    color: var(--color-dark);
}

.popover {
    position: absolute;
    top: 2em;
    left: 2em;
    right: 2em;
}

.panel {
    background: var(--color-light);
}

@media (min-width: 600px) {
    .popover {
        top: 3em;
        left: 3em;
        /* otherwise it would stretch across the whole screen*/
        right: auto;
    }
}