.controls {
    display: flex;
    align-items: center;
}

.start {
    padding: 0;
    color: var(--color-dark);
}

.start > svg {
    font-size: 24px;
}

.navigation {
    position: absolute;
    bottom: 1em;
    color: var(--color-dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 0;
    right: 0;
    padding: 0 1em;
}

.popover {
    color: var(--color-dark);
    padding: 0;
    display: flex;
    align-items: center;
}

.panel {
    background: #FFFAFAdd;
    margin: -1em;
    padding: 1em;
    max-width: calc(100vw - 4em);
    display: grid;
    gap: 1em;
}

.logo {
    font-size: 24px;
    width: 1em;
    height: 1em;
}

@media (min-width: 600px) {
    .navigation {
        left: 3em;
        right: 3em;
    }

    .start > svg {
        font-size: 72px;
    }
}