.app {
    display: grid;
    grid-template-rows: max-content;
    /* set as variable since it's used in media query to calculate width */
    --padding: 1em;
    padding: var(--padding);
    gap: 1em;
    height: 100vh;
    max-height: -webkit-fill-available;
    overflow: hidden;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.parodleLinks {
    display: flex;
    align-items: center;
    gap: 1em;
}

.parodleLinks > a {
    font-size: 24px;
    width: 1em;
    height: 1em;
}

@media (min-width: 600px) {
    .app {
        justify-content: center;
        --padding: 2em;
    }

    .app > * {
        /* 1em is the padding */
        width: calc(600px - var(--padding) * 2);
    }
}