.cell {
    border: 1px solid var(--color-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    transition: .5s ease;
    transition-property: background-color, border-color, transform;
    width: 2em;
    height: 2em;
    border-radius: 4px;
}

.hasValue {
    animation: .2s hasValue;
}

@keyframes hasValue {
    from, to {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
}