.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

    --color-wrong: #00002233;
    --color-almost: #E2841399;
    --color-exact: #00916E99;
}

.rows {
    display: grid;
    --gap: .5em;
    gap: var(--gap);
}

.row {
    display: flex;
    gap: var(--gap);
}

.isInvalid {
    animation: .2s isInvalid;
}

.playAgain {
    bottom: 130px;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    display: grid;
    gap: .5em;
    justify-content: center;
    transform: translateY(50%);
}

.playAgain,
.playAgain + div {
    transition: .3s ease;
    transition-property: opacity, visibility;
}

.playAgain.toggled {
    opacity: 1;
    visibility: visible;
    z-index: 1;
}

.playAgain.toggled + div {
    z-index: 0;
    opacity: .2;
}

.failed {
    background-color: var(--color-light);
    padding: 1em;
    text-align: center;
}

.keyWrong {
    background-color: var(--color-wrong) !important;
}

.keyAlmost {
    background-color: var(--color-almost) !important;
}

.keyExact {
    background-color: var(--color-exact) !important;
}


@keyframes isInvalid {
    from, to {
        transform: translateX(0);
    }
    25% {
        transform: translateX(1%);
    }
    50% {
        transform: translateX(-1%);
    }
    75% {
        transform: translateX(1%);
    }
}