.container {
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
}

.overlay {
    z-index: 2;
    background: #ff8441;
    position: absolute;
    transform: translateY(100%);
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    display: grid;
    padding: var(--padding);
    gap: 2em;
    transition: .3s transform;
    transition-timing-function: cubic-bezier(.68, .01, 1, .5);
    overflow: auto;
}

.overlay.open {
    transform: translateY(0);
    transition-timing-function: cubic-bezier(.06, .7, .3, .97);
}

.count {
    display: grid;
    gap: .5em;
}

.count > h2 {
    font-size: 32px;
    margin-bottom: 0;
}

.stats {
    display: flex;
    align-items: center;
    gap: 2em;
}

.progressBar {
    transition: flex-grow .4s ease;
    flex-grow: 0 !important;
}

.open .progressBar {
    flex-grow: var(--percentage) !important;
    transition-delay: .1s;
}

.frequentWords {
    gap: .5em;
    display: grid;
}

.frequency {
    display: flex;
    align-items: center;
    gap: 1em;
}

.counter {
    background: var(--color-dark);
    color: var(--color-light);
    display: flex;
    justify-content: center;
    align-items: center;
    --size: 2em;
    width: var(--size);
    height: var(--size);
    border-radius: 1em;
}

.length {
    color: var(--color-quiet);
}

@media (min-width: 600px) {
    .overlay {
        justify-content: center;
    }

    .overlay > * {
        /*--padding is taken from app.module*/
        width: calc(600px - var(--padding) * 2);
    }
}