.container {
    display: grid;
    align-items: center;

}

.label {
    font-size: var(--font-size-small);
}

.value {
    font-size: var(--text-font-size-huge);
    font-family: var(--font-family-title), sans-serif;
    margin-bottom: 0;
}