.container {
    overflow: hidden;
}

.title {
    font-size: var(--text-font-size-big);
    font-family: var(--font-family-title), sans-serif;
    text-transform: lowercase;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
}

.overlay {
    z-index: 1;
    background: #ff8441;
    position: absolute;
    top: 100vh;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: grid;
    padding: var(--padding);
    gap: 2em;
    transition: .3s top;
    transition-timing-function: cubic-bezier(.68, .01, 1, .5);
}

.overlay.open {
    top: 0;
    transition-timing-function: cubic-bezier(.06, .7, .3, .97);
}

.count {
    text-align: center;
    display: grid;
    gap: .5em;
}

.count > h2 {
    font-size: 32px;
    margin-bottom: 0;
}

.stats {
    display: flex;
    align-items: center;
    gap: 2em;
    justify-content: center;
}

.frequentWords {
    width: 10em;
    gap: .5em;
    display: grid;
}

.frequency {
    display: flex;
    align-items: center;
    gap: 1em;
}

.counter {
    background: var(--color-dark);
    color: var(--color-light);
    display: flex;
    justify-content: center;
    align-items: center;
    --size: 2em;
    width: var(--size);
    height: var(--size);
    border-radius: 1em;
}

.length {
    color: var(--color-quiet);
}

@media (min-width: 600px) {
    .overlay {
        justify-content: center;
        --padding: 2em;
    }

    .overlay > * {
        /* 1em is the padding */
        width: calc(600px - var(--padding) * 2);
    }
}