.app {
    --color-dark: #121212;
    --color-light: #FFFAFA;
    --color-quiet: #787D79;
    --color-highlight-soft: #BBE5ED;
    --color-highlight-main: #78C0E0;
    --color-error: #F86262;
    --font-size: 16px;
    --font-size-big: 24px;
    --font-size-small: 10px;
    --letter-spacing: 0em;

    --icon-size: 24px;

    --default-spacing: 12px;
    --spacing: var(--default-spacing);

    --default-border-radius: 2px;

    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    --font-family: "Lato", "Roboto", sans-serif;
    font-family: var(--font-family);
    background-color: var(--color-light);
}

.app > div {
    height: 100%;
}

.app * {
    transition: .2s ease-out;
    transition-property: color, background-color;
}

.app.darkMode {
    --color-dark: #FFFAFA;
    --color-light: #121212;
    --color-quiet: #e1e1e1;
    --color-highlight-soft: #6380BF;
    --color-highlight-main: #3961D0;
}

.app p {
    margin: 0;
}

.app h3 {
    margin: 0;
    font-weight: lighter;
}
