.menu {
    height: 100%;
    flex: 1 1 auto;
    align-self: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10em;
}

.difficultyPicker {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.toggleDarkMode{
    position: absolute;
    top: var(--main-ui-padding);
    right: var(--main-ui-padding);
    margin: 0 !important;
    gap: 2em;
}