.container {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    align-items: center;
    justify-content: space-between;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;
    width: 100%;
}

.difficulty {
    justify-content: flex-end;
}

.actionGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.actions {
    display: flex;
    gap: 1em;
}