.container {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    align-items: center;
    justify-content: space-between;
}

.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    padding: 0 1em;
    width: 100%;
}

.header > *:first-child {
    margin-right: auto;

}

.header > *:last-child {
    margin-left: auto;

}

.difficulty {
    justify-content: flex-end;
}

.actionGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.actions {
    display: flex;
    gap: 1em;
    margin-bottom: 3em;
}