.checkbox {
    margin: 0;
    color: var(--color-dark);
    font-family: var(--font-family), sans-serif;
    display: flex;
    align-items: center;
    gap: .8em;
    height: 2em;
}

.checkbox > input {
    width: 1.2em;
    height: 1.2em;
}