.buttonCta {
    border: none;
    padding: 12px;
    margin: 0;
    border-radius: var(--default-border-radius);
    background: var(--color-dark);
    color: var(--color-light);
    font-family: var(--font-family);
}