.buttonCta {
    padding: .8em;
    font-size: 14px;
    margin: 0;
    border-radius: var(--default-border-radius);
    border: 2px solid transparent;
    background: var(--color-dark);
    color: var(--color-light);
    font-family: var(--font-family);
    transition: .2s ease;
    transition-property: background-color, border-color, color;
    display: flex;
    justify-content: center;
}

.buttonCta:hover {
    border-color: var(--color-dark);
    color: var(--color-dark);
    background-color: var(--color-light);
}