.menu {
    color: black;
    padding: 2em 0;
    position: absolute;
    inset: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: .2s ease;
    transition-property: opacity, visibility;
}

.menu > svg {
    color: var(--color-dark);
}

.menu.hidden {
    opacity: 0;
    visibility: hidden;
}

.content {
    max-width: 30em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

.tutorial {
    flex: 1 1 auto;
    width: 100%;
    padding: 0 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.start {
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: scale .2s ease;
}

.start:hover {
    scale: 1.1;
}

.start:active {
    scale: 1;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    align-items: flex-end;
}