.menu {
    padding: 2em 0;
    position: absolute;
    inset: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: .2s ease;
    transition-property: opacity, visibility;
}

.menu.hidden {
    opacity: 0;
    visibility: hidden;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 3em;
    align-items: center;
}

.tutorial {
    background-color: white;
    padding: 2em;
    max-width: 30em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.start {
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    align-items: flex-end;
}