.title {
    font-size: 32px;
}

.input:focus, .input:focus-visible {
    background: var(--color-light);
    border: 1px solid var(--color-dark);
}

.input {
    background: none;
    outline: none;
    border: 1px solid transparent;
    border-bottom: 1px solid var(--color-dark);
    transition: .5s ease;
    transition-property: background-color, color;
}

.inputGroup {
    display: grid;
    gap: .5em;
}

.label {
    font-size: 14px;
    font-style: italic;
}

.popup {
    display: grid;
    gap: 1em;
    background: var(--color-light);
    padding: 1em;
}

.shareContainer {
    display: flex;
    gap: .5em;
    font-size: 14px;
    max-width: 18em;
    flex: 1 1 auto;
    align-items: center;
}

.shareLink {
    overflow: auto;
    white-space: nowrap;
    flex: 1 1 auto;
    font-size: 14px;
}

.shareButton {
    flex: none;
}

.shareButton:hover {
    transform: scale(1.05);
}

.shareButton:active {
    transform: scale(0.95);
}

.materials{
    display: grid;
    gap: .2em;
}

.radioContainer {
    display: flex;
    gap: .2em;
    align-items: center;
}

.radioContainer > label {
    text-transform: capitalize;
}

.radioContainer > input{
    margin: 0;
}