.discoverMore {
    display: flex;
    gap: 1em;
    bottom: 1em;
    width: 100%;
    padding-left: 4em;
    padding-right: 0;

    position: absolute;
    cursor: pointer;
    align-items: baseline;
}

.discoverArrow {
    transition: transform .2s ease, opacity .1s ease;
}

.discoverArrowWrapper {
    padding-top: 2em;
}

.discoverMore:hover .discoverArrow {
    transform: rotateZ(90deg);
}

.discoverLine {
    border: 1px solid var(--color-dark);
    flex: 1 1 auto;
    height: 1px;
    width: 100%;
    transform: scaleX(0);
    transition: transform 0.8s ease;
    transform-origin: left;
}

.discoverMore:hover > .discoverLine {
    transform: scaleX(1);
    transition-duration: 2s;
}