.footer {
    height: 100vh;
    background: var(--color-dark);
    display: flex;
    overflow: hidden;
    position: relative;
}

.background {
    position: absolute;
    /*left: 0;*/
    inset: 0;
}

.background > img {
    object-fit: cover;
    height: 100%;
    /*width: 100%;*/
}

.container {
    width: 100%;
    min-height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-light);
    padding: 3em 3em 1em 3em;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    width: 100%;
}

.copyright {
    flex: none;
    color: var(--color-quiet);
    margin-top: auto;
    font-size: 12px;
}

.backToTop {
    padding: 1em 3em;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4em;
    display: flex;
    align-items: flex-end;
    color: var(--color-quiet);
}

.backToTop:hover {
    color: var(--color-light);
}

.backToTop > .backToTopLabel {
    transition: .5s ease;
    transition-property: color, translate;
}

.backToTop:hover > .backToTopLabel {
    translate: 0 -1em;
}

.logo {
    --size: 3em;
    width: var(--size);
    height: var(--size);
}

.text {
    max-width: 8em;
    text-align: center;
    opacity: 0;
    translate: 0 -100%;
    transition: 1.5s ease;
    transition-property: opacity, translate;
}

.main:hover > .text {
    opacity: 1;
    translate: 0;
}

@media (min-width: 600px) {
    .text {
        max-width: 100em;
    }
}