html,
body {
    padding: 0;
    margin: 0;
    font-family: "Lato", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    --text-font-size: 18px;
    --color-dark: #05080c;
    --color-light: #FFFFFF;
    --color-quiet: #cbcbcb;

    background-color: var(--color-light);

    transition: .2s ease background-color;
}

* {
    font-size: var(--text-font-size);
}

a {
    color: inherit;
    text-decoration: none;
}

h1, p, hr {
    margin: 0;
}

button {
    background: none;
    border: none;

    cursor: pointer;
}

* {
    box-sizing: border-box;
}
