html,
body {
    padding: 0;
    margin: 0;
    font-family: "Lato", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    --text-font-size: 18px;
    --color-dark: #0D1524;
    --color-light: #FFFFFF;
    --color-quiet: #E0E0E0;
}

* {
    font-size: var(--text-font-size);
}

a {
    color: inherit;
    text-decoration: none;
}

h1, p, hr {
    margin: 0;
}

button {
    background: none;
    border: none;
}

* {
    box-sizing: border-box;
}
