.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: var(--color-light);
}

.main {
    flex: 1 1 auto;
    display: grid;
    grid-template-columns: 2fr 3fr;
    /* set otherwise the 100% height will not be respected in mobile safari */
    grid-template-rows: 1fr;
    align-items: center;
}

.content {
    display: grid;
    grid-template-rows: .5fr 3em 1fr;
    height: 100%;
    position: relative;
    margin-left: 3em;
    z-index: 1;
}


.descriptionContainer {
    z-index: 1;
    position: relative;
    display: flex;

    padding: 2em 2em 0 2em;
    margin: 0 -2em;
    transition: .5s ease-out;
    transition-property: background-color, padding-top;
    animation: description-fade-in .5s ease-out;
    animation-delay: .5s;
    animation-fill-mode: forwards;
}

.description {
    line-height: 1.8em;
    transition: .5s ease-out;
    transition-property: line-height, color;
    animation: line-height .5s ease-out;
    animation-delay: .3s;
    animation-fill-mode: forwards;
}

.descriptionLines {
    z-index: -1;
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.descriptionLine {
    transition: transform .5s ease;
    border: 1px solid var(--color-light);
    --scaleY: 1;
    --delay: 0s;
    opacity: var(--scaleY);
}

.descriptionLine:not(:first-child) {
    transform: scaleY(0);
    transform-origin: bottom;
}

.descriptionContainer:hover .descriptionLine {
    transform: scaleY(var(--scaleY));
    transition-delay: var(--delay);
}


.accentLine {
    height: 1px;
    border: 1px solid var(--color-dark);
    animation: line-scale-in-out 1s ease;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes line-scale-in-out {
    0% {
        transform-origin: right;
        transform: scaleX(0);
    }
    49% {
        transform-origin: right;
        transform: scaleX(1);
    }
    51% {
        transform-origin: left;
        transform: scaleX(1);
    }
    100% {
        transform-origin: left;
        transform: scaleX(0);
    }
}

@keyframes description-fade-in {
    0% {
        background: none;
        color: var(--color-dark);
    }
    100% {
        background: var(--color-dark);
        color: var(--color-light);
    }
}

@keyframes line-height {
    100% {
        line-height: 2.2em;
    }
}

@media (min-height: 700px) {
    .content {
        grid-template-rows: 1fr 3em 1fr;
    }
}