.container {
    position: relative;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    right: 100%;
    --delay: 0;
    --background: var(--color-light);
    background: var(--background);
    transition: .5s ease;
    transition-property: right;
    overflow: hidden;
}

.content:first-child {
    right: 0;
    position: relative;
    --background: transparent;
}

.container:hover > .content {
    right: 0;
    transition-delay: var(--delay);
    transition-duration: 1s;
}