.container {
    position: relative;
}

.image {
    max-width: 100%;
    height: auto;
}

.description {
    position: absolute;
    z-index: 1;
    color: var(--color-dark);
    transition: .8s ease;
    transition-property: top, opacity;
    opacity: 0;
    top: 70%;
    left: 50%;
    translate: -50% -50%;
}

.container:hover > .description {
    opacity: 1;
    top: 50%;
}

