.container {
    background: var(--color-dark);
    display: flex;
    flex-direction: column;
    color: var(--color-light);
    justify-content: center;

    gap: 10em;
    height: 100vh;
}

.links {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    /*gap: 2em;*/
}

.line {
    width: 100%;
    height: 1px;
    border: 1px solid var(--color-light);
}

.title {
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: 24px;
    margin: 1em 0;
    color: var(--color-light);
}

.imageContainer {
    position: relative;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.imageContainer > * {
    transition: .5s ease;
}

.imageContainer:hover > * {
    border-radius: 1em;
}

.imageContainer:hover > .imageAccent {
    --movement: 0em;
}

.image {
    transition-property: border-radius;
}

.imageDescription {
    position: absolute;
    bottom: 0;
    opacity: .8;
}

.imageContainer:hover > .imageDescription {
    bottom: -2em;
}

.imageAccent {
    opacity: .8;
    border: .2em solid var(--color-light);
    position: absolute;
    height: 100%;
    width: 100%;
    --movement: 2em;
    top: var(--movement);
    left: var(--movement);
    transition-property: top, left, border-radius;
}

.imageAccent:last-child {
    --movement: -2em;
}

@media (min-width: 750px) {
    .container {
        flex-direction: row;
        padding: 2em 0;
    }
}