.link {
    position: relative;
    height: fit-content;
}

.content {
    display: flex;
    align-items: center;
    color: var(--color-light);
    gap: 1em;
    cursor: pointer;
    height: 3em;
}

.content > svg {
    width: 2em;
}