.container {
    margin: 32em 0;
}

.graphics {
    position: relative;
    height: 100vh;
}

.mountains {
    display: flex;
    justify-content: center;
}

.clouds {
    position: relative;
    height: 100%;
    z-index: 2;
}

.clouds > * {
    position: absolute;
}

.clouds > *:nth-child(1) {
    left: 1200px;
    top: -100px;
}

.clouds > *:nth-child(2) {
    top: 50px;
    left: 150px;
}

.clouds > *:nth-child(3) {
    left: 800px;
    top: 300px;
}

.children {
    padding: 4em;
    background: var(--color-dark);
    z-index: 1;
    position: relative;
}

.mountains > * {
    position: absolute;
    bottom: 0;
    transform-origin: 0 0;
    transform: translateZ(-2px) scale(3);
}

.mountains > *:last-child {
    /*Make sure it connects with the children background*/
    bottom: -15px;
}

.trees {
    position: absolute;
    bottom: 0;
    left: 0;
}

.trees > * {
    color: #0D1524;
    position: absolute;
}

.treesFront > *:nth-child(1) {
    left: 550px;
    bottom: 120px;
}

.treesFront > *:nth-child(2) {
    left: 1050px;
    bottom: 70px;
}

.treesFront > *:nth-child(3) {
    left: 1130px;
    bottom: 90px;
}

.treesFront > *:nth-child(4) {
    left: 1210px;
    bottom: 115px;
}

.treesMiddle > * {
    scale: .7;
    color: #485C80
}

.treesMiddle > *:nth-child(1) {
    bottom: 190px;
    left: 300px;
}

.treesMiddle > *:nth-child(2) {
    bottom: 180px;
    left: 360px;
}

.treesMiddle > *:nth-child(3) {
    bottom: 140px;
    left: 760px;
}

.treesMiddle > *:nth-child(4) {
    bottom: 120px;
    left: 810px;
}

.treesMiddle > *:nth-child(5) {
    bottom: 190px;
    left: 1510px;
}

.treesMiddle > *:nth-child(6) {
    bottom: 180px;
    left: 1550px;
}


.sunset {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(180deg, rgba(255, 125, 97, 0) 0%, #FFEFC8 64.06%);
}


@media (min-width: 600px) {
    .children {
        padding: 10em;
    }
}

@media (min-width: 750px) {
    .children {
        padding: 5em;
    }
}

@media (min-width: 1000px) {
    .children {
        padding: 10em;
    }
}