.container {
    margin: 32em 0;
}

.graphics {
    position: relative;
    height: 100vh;
}

.mountains {
    display: flex;
    justify-content: center;
}

.clouds {
    position: relative;
    height: 100%;
    z-index: 2;
}

.clouds > * {
    position: absolute;
}

.clouds > *:nth-child(1) {
    left: 1200px;
    top: -100px;
}

.clouds > *:nth-child(2) {
    top: 50px;
    left: 150px;
}

.clouds > *:nth-child(3) {
    left: 800px;
    top: 300px;
}

.children {
    padding: 10em;
    background: var(--color-dark);
    z-index: 1;
    position: relative;
}

.mountains > * {
    position: absolute;
    bottom: 0;
}

.mountains > *:last-child {
    /*Make sure it connects with the children background*/
    bottom: -5px;
}

.sunset {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(180deg, rgba(255, 125, 97, 0) 0%, #FFEFC8 64.06%);
}