.planetary {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 5em;
    left: 0;
}

.sun {
    outline: none;
    border: none;
    background: #FFAD05;
    position: absolute;
}

.system {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.orbit {
    --revolution: 10s;
    --color: black;
    --offset: 0s;
    position: absolute;
    border: 1px solid #E0E0E0;
    animation: spin var(--revolution) linear infinite;
    animation-delay: var(--offset);
}

.orbit:first-child {
    visibility: hidden;
    opacity: 0;
}

.orbit.fadeOut {
    opacity: 0;
    visibility: hidden;
}

.planet {
    position: absolute;
    /*-1px is required to compensate for the border width*/
    --half-size: calc(var(--size) / -2 - 1px);
    top: calc(50% + var(--half-size));
    left: var(--half-size);

    width: var(--size);
    height: var(--size);
    background: var(--color);
}

.sizable {
    --size: 3rem;
    width: var(--size);
    height: var(--size);
    border-radius: calc(var(--size) / 2);
    transition: .5s ease-out;
    transition-property: width, height, animation-duration, opacity, visibility;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

@media (min-width: 400px) {
    .planetary {
        position: relative;
        height: 100%;
        z-index: -1;
    }
}