.planetary {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 5em;
    left: 0;
}

.planetary:hover > .sun {
    background-color: #ff6d05;
    box-shadow: 0 0 180px 30px #ff6d0555;
}

.sun {
    outline: none;
    border: none;
    background: #FFAD05;
    position: absolute;
}

.system {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.quickSpin {
    animation: double-spin 2.4s cubic-bezier(.85, 0, .15, 1);
}

.orbit {
    --revolution: 10s;
    --color: black;
    --offset: 0s;
    position: absolute;
    border: 1px solid var(--color-quiet);
    animation: spin var(--revolution) linear infinite;
    animation-delay: var(--offset);
}

.orbit:first-child {
    visibility: hidden;
    opacity: 0;
}

.orbit.fadeOut {
    opacity: 0;
    visibility: hidden;
}

.planet {
    position: absolute;
    /*-1px is required to compensate for the border width*/
    --half-size: calc(var(--size) / -2 - 1px);
    top: calc(50% + var(--half-size));
    left: var(--half-size);

    width: var(--size);
    height: var(--size);
    background: var(--color);
}

.sizable {
    --size: 3rem;
    width: var(--size);
    height: var(--size);
    border-radius: calc(var(--size) / 2);
    transition: .5s ease-out;
    transition-property: width, height, animation-duration, opacity, visibility, background-color, box-shadow;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}


@keyframes double-spin {
    100% {
        transform: rotate(720deg);
    }
}

@media (min-width: 400px) {
    /*.sun {*/
    /*    z-index: -1;*/
    /*}*/

    .planetary {
        position: relative;
        height: 100%;
    }
}