.container {
    position: relative;
    background-color: var(--color-light);
}

.about {
    z-index: 1;
    position: absolute;
    padding: 3em;
}

.project {
    position: relative;
    padding: 3em;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    min-width: 50%;
}

.title {
    margin: 1em 0;
}

.content > p {
    line-height: 1.8em;
}

.link {
    flex: 1 1 auto;
    padding: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
    height: fit-content;
}

.index {
    display: flex;
    align-items: center;
    gap: 1em;
}

.index > hr {
    width: 3em;
    height: 2px;
    border: 1px solid var(--color-dark);
}

@media (min-width: 600px) {

    .about {
        left: 40%;
        top: 50vh;
        translate: 0 -50%;
        /* override the .content min-width */
        min-width: 0;
        max-width: 35em;
    }

    .project {
        flex-direction: row;
        gap: 2em
    }

    .content {
        display: flex;
        justify-content: center;
    }
}